body {
    padding: 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr 200px;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";
    height: 100%;
}

h1 {
    text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

header {
    grid-area: header;
}

nav {
    margin: 10px;
    grid-area: nav;
    border: mediumpurple 3px dashed;
    align-self: start;
}

nav a {
    display: block;
    padding: 10px;
    cursor: pointer;
}
nav a:hover {
    background-color: mediumpurple;
}

aside {
    grid-area: aside;
}

main {
    margin: 10px;
    padding: 10px;
    grid-area: main;
    border: mediumpurple 3px dashed;
}

article {
    background-color: rgb(231, 222, 248);
    padding: 15px;
    margin: 5px;
}

section {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

label.section-toggle-label{
    font-size: 0.75rem;
    color: mediumpurple;
    cursor: pointer;
    user-select: none;
}

input.section-toggle{
    display: none;
}

input.section-toggle:not(:checked) + .toggleable-section{
    display: none;
}

.code {
    font-family: "Courier New", Courier, monospace;
}

.tag::before {
    content: "<";
}
.tag::after {
    content: ">";
}

span.tooltip{
    color: mediumpurple;
    margin:5px;
    cursor: help;
}

.resizable {
    resize: both;
    overflow: auto;
}

.example-section {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "code example";
}

.example-section h5 {
    grid-area: title;
}

.example-section .example {
    grid-area: example;
}

.example-section .example-code {
    grid-area: code;
}

.example, .example-code {
    border: 2px solid mediumpurple;
    padding: 10px;
    margin: 10px;
}

.example-element {
    color: mediumpurple;
    font-weight: bolder;
    background-color: rgba(231, 222, 248, 0.5);
    padding:10px;
    cursor: default;
}


.table {
    background-color: white;
    padding: 10px;
}

.table td {
    padding: 10px;
    border-top: 1px solid black;
    margin: 0;
}